button {
  max-width: 11rem;
}
body > header:nth-child(2) {
  display: flex;
  background-color: #b5b5b5;
  padding: 2rem;
  height: 100%;
  text-align: center;
  justify-content: center;
}
.header_text {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 7vw;
}
body > footer:nth-child(4) {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
body > footer:nth-child(4) > section:nth-child(2) {
  display: flex;
}
#team > article:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
#team > article:nth-child(3) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

#graphical {
  width: 30vw;
  height: 30vw;
  min-width: 300px;
  min-height: 300px;
  border-radius: 300px;
  background-color: #00897b;
}

nav {
  padding: 1rem;
  align-items: baseline;
  background-color: #b5b5b5;
  flex-wrap: wrap;
}
body > nav:nth-child(1) > a:nth-child(1) {
  font-size: 2rem;
}

/* Indigo Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #1e265c;
  --primary-hover: #303f9f;
  --primary-focus: rgba(57, 73, 171, 0.125);
  --primary-inverse: #fff;
}

/* Indigo Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #3949ab;
    --primary-hover: #3f51b5;
    --primary-focus: rgba(57, 73, 171, 0.25);
    --primary-inverse: #fff;
  }
}

/* Indigo Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #3949ab;
  --primary-hover: #3f51b5;
  --primary-focus: rgba(57, 73, 171, 0.25);
  --primary-inverse: #fff;
}

/* Indigo (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}
