button {
  max-width: 11rem;
}
body > header:nth-child(2) {
  display: flex;
  background-color: #c8bcc7;
  padding: 2rem;
  height: 40vw;
  text-align: center;
  justify-content: center;
}
.header_text {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body > footer:nth-child(4) {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
body > footer:nth-child(4) > section:nth-child(2) {
  display: flex;
}
#team > article:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
#team > article:nth-child(3) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

#graphical {
  width: 30vw;
  height: 30vw;
  min-width: 300px;
  min-height: 300px;
  border-radius: 300px;
  background-color: #8e24aa;
}
/* Purple Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #8e24aa;
  --primary-hover: #7b1fa2;
  --primary-focus: rgba(142, 36, 170, 0.125);
  --primary-inverse: #fff;
}

/* Purple Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #8e24aa;
    --primary-hover: #9c27b0;
    --primary-focus: rgba(142, 36, 170, 0.25);
    --primary-inverse: #fff;
  }
}

/* Purple Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #8e24aa;
  --primary-hover: #9c27b0;
  --primary-focus: rgba(142, 36, 170, 0.25);
  --primary-inverse: #fff;
}

/* Purple (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}
